<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Callback</title>
</head>
<body>
<h2>Callback Message</h2>                          <br>
<h3>Checksum Verification</h3>                     <br>
merchant_identifier :{{ MERCHANT_IDENTIFIER }}     <br>
access_code : {{ ACCESS_CODE }}                    <br>
merchant_reference :{{ MERCHANT_REFERENCE }}       <br>
language : {{ LANGUAGE }}                          <br>
command : {{ COMMAND }}                            <br>
amount : {{ Amount }}                              <br>
customer_email : {{ CUSTOMER_EMAIL }}              <br>
order_description : {{ ORDER_DESCRIPTION }}        <br>
</body>
</html>